.footer {
  border-top: 1px solid #E0E0E0;
  padding: 24px 52px 40px;
  font-size: 12px;
  color: #666;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 60px;
}

.footer p {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

body.library .footer {
  background: #373737;
  border-top: 1px solid #555;
  color: #AAA;
}

body.home .footer {
  display: none;
}