.home-footer {
  display: flex;
  width: 100%;
  height: 340px;
  align-items: center;
  justify-content: center;
  background: #FFF;
  margin-top: 100px;
}

.home-footer-logo {
  color: #000;
  font-size: 50px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}