@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

.friendly-reminder {
  width: 100%;
  padding: 80px 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reminder-content {
  max-width: 954px;
  width: 100%;
  text-align: center;
}

.reminder-title {
  color: #AF0000;
  font-family: "Square Peg", cursive;
  font-size: 150px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -4.5px;
  margin-bottom: 20px;
}

.reminder-text {
  color: #000;
  font-family: "Cardo", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.9px;
}

.reminder-text p {
  margin: 0;
  font-family: "Cardo", serif;
  font-size: 30px;
  line-height: 110%;
}

.reminder-text p + p {
  margin-top: 6px;
}